.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  font-family: "Roboto", sans-serif !important;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.card {
  box-shadow: 0 0.7rem 2rem rgb(0 0 0 / 10%);
  border-radius: 10px;
  border: 1px solid #e5e8ed;
  width: 100%;
}

.cardHeader {
  padding: 2rem;
  background: linear-gradient(90deg, #4e43c6 0, #5e72e4 100%) !important;
  border-radius: 10px 10px 0 0;
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
}

.cardBody {
  padding: 2rem;
  font-size: 1rem;
}

/* .grid {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #dfdfdf;
} */

.gridRow {
  display: flex;
}

.grid:last-child {
  border-bottom: 1px solid #dfdfdf;
}

.gridItem {
  flex: 1 0 25%;
  padding: 1rem;
  border-top: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
}

.gridItem:nth-child(4n) {
  border-right: 1px solid #dfdfdf;
}

.textLeft {
  text-align: left;
}

@media screen and (max-width: 650px) {
  .title {
    font-size: 1.5rem;
  }

  .cardHeader {
    padding: 1.5rem;
    font-size: 1rem;
  }

  .cardBody {
    padding: 1.5rem;
    font-size: 1rem;
  }

  .gridItem {
    padding: 1rem 0.5rem;
    font-size: 0.75rem;
  }

  .gridItem:not(:nth-child(4n)) {
    flex: 15% !important;
  }

  .gridItem:nth-child(4n) {
    flex: 55% !important;
  }
}

@media screen and (max-width: 520px) {
  .title {
    font-size: 1rem;
  }

  .cardHeader {
    padding: 1rem;
    font-size: 0.75rem;
  }

  .cardBody {
    padding: 1rem;
    font-size: 0.75rem;
  }

  .gridItem {
    padding: 0.75rem 0.4rem;
    font-size: 0.6rem;
  }

  .gridItem:not(:nth-child(4n)) {
    flex: 15% !important;
  }

  .gridItem:nth-child(4n) {
    flex: 55% !important;
  }
}
